<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Open Chatroom</title>
		<!--imports compiled stylesheet-->
		<link rel="stylesheet" href="/static/WebSocketsP03/css/app.css">
		<!--Imports foundation 6.7.4 JS-->
		<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>
		<script>
			$(document).ready(function() {//forces this to run once the document is finished loading so that it can do the full DOM things. Usually this line is put at the end which is why it didn't work.
				$(document).foundation();
			})
		</script>
		<!--Sets up WebSockets-->
		<script src="/static/socket.js" crossorigin="anonymous"></script>
	</head>
	<body>
		{% if user == None %}
			<form style="padding: 2em;" class="grid-y grid-padding-x" method="post">
				<div class="small-6 cell">
					<label>Username</label>
					<input type="text" name="username" placeholder="Enter your display name!">
				</div>
				<div class="large-12 cell grid-x align-center">
					<input type="submit" formaction="/login" class="button custom-button">
				</div>
			</form>
		{% else %}
			<nav class="top-bar">
				<div class="top-bar-right">
					Hello {{ user }}!
				</div>
			</nav>
		{% endif %}
	</body>
</html>
