<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Open Chatroom</title>

		<!--Imports foundation 6.7.4 JS-->
		<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>
		<script>
			$(document).ready(function() {//forces this to run once the document is finished loading so that it can do the full DOM things. Usually this line is put at the end which is why it didn't work.
				$(document).foundation();
			})
		</script>

		
	</head>
	<body>

	</body>
</html>
